
@{
    ViewData["Title"] = "Successful Account Request";
}

@await  Html.PartialAsync("_navigation")

<div class="userUI">
    <h1>Successful Account Request</h1>

    <p>Thanks for signing up.  We'll contact you with your new account info.</p>
</div>

