@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model WorkoutApp.Models.AccountRequestDto


@await Html.PartialAsync("_navigation")

<div class="admUI">
    <h1>View Account Requests</h1>

    <div class="grid-col-3">

        <h3>Email</h3>
        <h3>Complete</h3>
        <h3>Account Request</h3>


        @foreach (var a in Model.AccountRequests)
        {


            <div>@a.Email</div>
            <div> @a.Complete</div>
            <div><a href="/account/editaccountrequest/@a.Id">Edit</a></div>
            

        }
    </div>
</div>
