
@{
    ViewData["Title"] = "Admin";
}

@await Html.PartialAsync("_navigation")

<div class="admUI">

    <h1>Admin</h1>

    <a href="/bdbusr/viewusers">View Users</a>
    <a href="/bdbusr/createuser">Create User</a>
    <a href="/bdbusr/viewdays">View Workout Days</a>
    <a href="/bdbusr/createday">Create Workout Day</a>
    <a href="/bdbusr/viewexercises">View Exercises</a>
    <a href="/bdbusr/createexercise">Create Exercise</a>
    <a href="/account/viewaccountrequests">View Account Requests</a>
</div>

